# Ignore all CSS files in the styles folder:
-/*.scriban
gulp/**/*.js
styles/*.css
**/*.md
**/*.json
gulpfile.js
.eslintrc.js
.next
.cache
public
node_modules
next-env.d.ts
next.config.ts
yarn.lock
package-lock.json
pnpm-lock.yaml
